﻿body {
    background: -webkit-linear-gradient(left top, black, #212020); /* For Safari 5.1 to 6.0 */
    background: -ms-linear-gradient(left top, black, #212020); /* For IE 9+ */
    background: -o-linear-gradient(bottom right, black, #212020); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, black, #212020); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, black, #212020); /* Standard syntax */
    font-family: 'Segoe UI';
    font-size: medium;
    color: white;
}

.jumbotron {
    background: -webkit-linear-gradient(left, #3c0ab9, #212020); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #3c0ab9, #212020); /* For Opera 11.1 to 12.0 */
    background: -ms-linear-gradient(left, #3c0ab9, #212020); /* For IE 9+*/
    background: -moz-linear-gradient(left, #3c0ab9, #212020); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left, #3c0ab9, #212020); /* Standard syntax */
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #0f5aa1;
    color: white;
}

#titulo_entidad, #titulo_pedidos {
    color: #0f5aa1;
}

html, body, .container {
    height: 100%;
}

.container {
    display: table;
    width: 98%;
    margin-top: -50px;
    padding: 50px 10px 10px 10px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: #4b4b4b;
}

.disabled {
    color: #4b4b4b;
    padding: 50px 10px;
}

.totalRowText, .totalRowValue {
    font-weight: bolder;
    color: #3c0ab9;
}

.totalRowText, .rightAlign {
    text-align: right;
}

.centerAlign {
    text-align: center;
}

table td {
    cursor: default;
}

.sorted:after {
    content: " ▼";
}

.sorted-descending:after {
    content: " ▲"
}