﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/lib/require.js" data-main="../Scripts/main"></script>
</head>
<body>
    <div class="jumbotron">
        <div class="container"><h1>MICRO CRM</h1></div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-2" id="navbar">
                <ul class="nav nav-pills nav-stacked">
                    <li id="Clientes"><a href="#">Clientes</a></li>
                    <li id="Vendedores"><a href="#">Vendedores</a></li>
                </ul>
            </div>
            <div id="main" class="col-md-10">
                <div>
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</body>
</html>