﻿@{
    ViewBag.Title = "Micro CRM";
}

<div class="row">
    <div class="col-md-6">
        <h2 id="titulo_entidad">Inicio</h2>
        <div id="data1">
            <p>Seleccione la acción deseada en el menú de navegación</p>
        </div>
    </div>
    <div class="col-md-6">
        <h2 id="titulo_pedidos">&nbsp;</h2>
        <div id="data2">
            &nbsp;
        </div>
    </div>
</div>

<script type="text/template" id="tpl_data1_table">
    <table class="table table-hover">
        <thead>
            <tr>
                <td data-field="strNombre" data-type="string" class="sortable1">Nombre</td>
                <td data-field="strEmail" data-type="string" class="sortable1">Email</td>
            </tr>
        </thead>
        <tbody>
            {{ var args = this.args }}
            {{ _.each(this.model, function(row) { }}
            <tr data-id="{{=row.strPkid}}" class="{{=args.entidad}}Row">
                <td>{{=row.strNombre}}</td>
                <td>{{=row.strEmail}}</td>
            </tr>
            {{ }); }}
        </tbody>
    </table>
</script>

<script type="text/template" id="tpl_data2_table">
    <table class="table table-hover">
        <thead>
            <tr>
                <td data-field="intFecha" data-type="numeric" class="sortable2">Fecha</td>
                <td data-field="txtDetalle" data-type="string" class="sortable2">Pedido</td>
                <td data-field="strNombre" data-type="string" class="sortable2">{{=this.args.titEntidad}}</td>
                <td data-field="decValorTotal" data-type="numeric" class="centerAlign sortable2">Valor</td>
            </tr>
        </thead>
        <tbody>
            {{ _.each(this.model, function(row) { }}
            <tr data-id="{{=row.intPkid}}" class="PedidosRow">
                <td>{{=row.strFecha}}</td>
                <td>{{=row.txtDetalle}}</td>
                <td>{{=row.strNombre}}</td>
                <td class="rightAlign">{{=row.strValorTotal}}</td>
            </tr>
            {{ }); }} 
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2" class="totalRowText">Total:</td>
                <td class="totalRowValue">{{=this.args.count}} pedido(s)</td>
                <td class="totalRowValue rightAlign">{{=this.args.strTotal}}</td>
            </tr>
        </tfoot>
    </table>
</script>